## Deliverable 2. Create a Customer Travel Destinations Map.

In [7]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import sys
sys.path.append('..')
# Import the NumPy module.
import numpy as np

# Import API key
from config import g_key


# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [8]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Shizukuishi,JP,39.6833,140.9833,59.77,66,53,6.71,broken clouds
1,1,Ushuaia,AR,-54.8000,-68.3000,42.46,49,75,14.97,broken clouds
2,2,Mataura,NZ,-46.1927,168.8643,46.47,81,68,2.51,broken clouds
3,3,Vaini,TO,-21.2000,-175.2000,80.76,78,20,5.75,few clouds
4,4,Saint-Philippe,RE,-21.3585,55.7679,71.19,73,51,13.00,broken clouds

In [10]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 69
What is the maximum temperature you would like for your trip? 96

In [11]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Vaini,TO,-21.2000,-175.2000,80.76,78,20,5.75,few clouds
4,4,Saint-Philippe,RE,-21.3585,55.7679,71.19,73,51,13.00,broken clouds
5,5,Lazaro Cardenas,MX,17.9583,-102.2000,81.34,67,14,11.18,few clouds
6,6,Meulaboh,ID,4.1363,96.1285,76.21,81,98,2.77,overcast clouds
10,10,Sao Joao Da Barra,BR,-21.6403,-41.0511,71.28,81,75,18.25,broken clouds
15,15,Puerto Ayora,EC,-0.7393,-90.3518,72.55,92,99,5.99,overcast clouds
18,18,Kahului,US,20.8947,-156.4700,82.42,57,75,16.11,broken clouds
20,20,Jamestown,US,42.0970,-79.2353,71.24,30,0,9.22,clear sky
22,22,Bathsheba,BB,13.2167,-59.5167,83.01,78,40,23.02,scattered clouds
23,23,Taihe,CN,30.8712,105.3845,73.83,67,64,16.89,broken clouds

In [12]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                354
City                   354
Country                352
Lat                    354
Lng                    354
Max Temp               354
Humidity               354
Cloudiness             354
Wind Speed             354
Current Description    354
dtype: int64

In [19]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df = preferred_cities_df[preferred_cities_df['Country'].notna()]
preferred_cities_df.count()
clean_df = preferred_cities_df

In [ ]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

In [27]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:  
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [35]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df = hotel_df[hotel_df['Country'].notna()]
preferred_cities_df.count()
clean_df = preferred_cities_df
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Vaini,TO,-21.2000,-175.2000,80.76,78,20,5.75,few clouds
4,4,Saint-Philippe,RE,-21.3585,55.7679,71.19,73,51,13.00,broken clouds
5,5,Lazaro Cardenas,MX,17.9583,-102.2000,81.34,67,14,11.18,few clouds
6,6,Meulaboh,ID,4.1363,96.1285,76.21,81,98,2.77,overcast clouds
10,10,Sao Joao Da Barra,BR,-21.6403,-41.0511,71.28,81,75,18.25,broken clouds
...,...,...,...,...,...,...,...,...,...,...
702,702,Balkanabat,TM,39.5108,54.3671,81.34,17,2,9.73,clear sky
703,703,Tripoli,LY,32.8752,13.1875,76.05,51,0,8.32,clear sky
705,705,Bubaque,GW,11.2833,-15.8333,80.10,83,7,12.93,clear sky
707,707,Lethem,GY,3.3803,-59.7968,76.91,84,91,7.96,overcast clouds
708,708,Sukumo,JP,32.9333,132.7333,75.38,65,63,4.76,broken clouds

In [43]:
# Create the output file (CSV).
output_data_file = "WeatherPy_vacation.csv"
# Export the City_Data into a CSV.
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [41]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [42]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))